* {
  margin: 0;
  padding: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $texColor;
}

ul {
  list-style: none;
}

.scroller::-webkit-scrollbar {
  width: 5px;
}

.scroller::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

.scroller::-webkit-scrollbar-thumb {
  background-color: orange;
  border-radius: 10px;
}
@font-face {
  font-family: 'Abel-Regular';
  src: url(../fonts/Abel-Regular.ttf);
}

@font-face {
  font-family: 'BlackOpsOne-Regular';
  src: url(../fonts/BlackOpsOne-Regular.ttf);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/font.woff2') format('woff2'),
    url('../fonts/MaterialIcons-Regular.woff') format('woff'),
    url('../fonts/MaterialIcons-Regular.ttf') format('truetype');
}
body {
  width: 100%;
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  font-kerning: normal;
  font-variant-ligatures: common-ligatures contextual;
  font-feature-settings: 'kern', 'liga', 'clig', 'calt';
  // font-family: 'Abel-Regular';
  line-height: 1.5;
  background-color: #f0f8ff;
  // font-size: 1.5rem;
  color: #000;
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
.activeScroll {
  color: orange !important;
  text-decoration: underline;
}
.hover_me {
  transition: all 0.5s linear;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: #f0f8ff;
}
.shadow {
  transition: all 0.5s linear;
  box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}
.textShadow {
  text-shadow: 7px 6px 12px #02a299;
}
.main_margin {
  margin-top: 0.8rem;
  // padding-left: 2rem !important;
  // padding-top: 2rem !important;
  background-color: #f0f8ff;
}
.side {
  height: 100vh;
  position: static;
  left: 0;
}
.main_wrapper {
  color: $texColor;
  background-image: url('../asset/bg.jpg');
  background-repeat: no-repeat;
  background-color: $primaryColor;
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}
.side_margin {
  margin-top: 0.3rem;
}
.transparent {
  background-color: transparent !important;
}
.collapsible_overide {
  padding: 0 !important;
}
.collection_item_overide {
  padding: 0 !important;
  cursor: pointer;
}

.underline {
  border-bottom-style: double;
  border-top: 0.4px solid #000;
}

.border_table td,
th {
  // padding: 0;
  border: 1px solid #ddd !important;
}
